<center>
	<form class="form-inline">
		<div class="form-group">
			<label>IME Number: </label>
			<input type="text" class="form-control">
			<button type="submit" class="btn btn-success">Search</button>
		</div>
	</form>
</center>

<!-- Hide report unless generated -->
<div>
	<div class="text-center">
		<h3>Solid Resources Processing & Construction Division</h2>
		<h4>Environmental Compliance Inspection Office</h4>
		<h4>For Readings Greater than 500 ppm/v</h4>
		
		<h4>XXXXXXX Landfill</h4>
	</div>
	
	<h4 class="pull-left">Record Number: IME XX1201-01</h4>
	<h4 class="pull-right">Grid ID(s): 66, 67</h4>
	
	<table class="table table-bordered table-striped text-center">
		<thead>
			<tr>
				<th class="text-center" colspan="6">INSPECTION REPORT</th>
				<th class="text-center" colspan="6">REPAIR REPORT</th>
				<span ng-show="hoverOptions" class="animate-show">
					<th class="text-center" rowspan="3">OPTIONS</th>
				</span>
			</tr>
			<tr>
				<th class="text-center" rowspan="2">DATE</th>
				<th class="text-center" rowspan="2">TIME</th>
				<th class="text-center" rowspan="2">DESCRIPTION</th>
				<th class="text-center" rowspan="2">Spot, Line, Area</th>
				<th class="text-center" rowspan="2">INSPECTOR</th>
				<th class="text-center" rowspan="2">VALUE (ppm/v)</th>
				<th class="text-center" colspan="4">DESCRIPTION OF REPAIR</th>
				<th class="text-center" colspan="2">COMPLETION</th>
			</tr>
			<tr>
				<th class="text-center">SOIL</th>
				<th class="text-center">WATER</th>
				<th class="text-center">OTHER</th>
				<th class="text-center">CREW</th>
				<th class="text-center">DATE</th>
				<th class="text-center">TIME</th>
			</tr>
		</thead>
		<tbody ng-repeat="inspection in inspections">
			<tr ng-repeat="repair in inspection.repairs">
				<td>{{inspection.date}}</td>
				<td>{{inspection.time}}</td>
				<td>{{inspection.description}}</td>
				<td>{{inspection.type}}</td>
				<td>{{inspection.inspector}}</td>
				<td>{{inspection.value}}</td>
				<td>{{repair.soil}}</td>
				<td>{{repair.water}}</td>
				<td>{{repair.other}}</td>
				<td>{{repair.crew}}</td>
				<td>{{repair.date}}</td>
				<td>{{repair.time}}</td>
				<span ng-show="hoverOptions" class="animate-show">
					<td>
						<a href="/"><span class="glyphicon glyphicon-pencil">Row</span></a>
						</br></br>
						<a href="/"><span class="glyphicon glyphicon-plus">Repair</span></a>
					</td>
				</span>
			</tr>
		</tbody>
	</table>
	
	<p>Run Date, Time: {{currentTime}}</p>
</div>