<center>
	<form class="form-inline">
		<div class="form-group">
			<label>IME Number: </label>
			<input type="text" class="form-control">
			<button type="submit" class="btn btn-success">Search</button>
		</div>
	</form>
</center>

<!-- Hide report unless generated -->
<div>
	<div class="text-center">
		<h3>Solid Resources Processing & Construction Division</h2>
		<h4>Environmental Compliance Inspection Office</h4>
		<h4>For Readings Greater than 500 ppm/v</h4>
		
		<h4>XXXXXXX Landfill</h4>
	</div>
	
	<h4 class="pull-left">Record Number: IME XX1201-01</h4>
	<h4 class="pull-right">Grid ID(s): 66, 67</h4>
	
	<table class="table table-bordered table-striped text-center">
		<thead>
			<tr>
				<th class="text-center" colspan="6">INSPECTION REPORT</th>
				<th class="text-center" colspan="6">REPAIR REPORT</th>
			</tr>
			<tr>
				<th class="text-center" rowspan="2">DATE</th>
				<th class="text-center" rowspan="2">TIME</th>
				<th class="text-center" rowspan="2">DESCRIPTION</th>
				<th class="text-center" rowspan="2">Spot, Line, Area</th>
				<th class="text-center" rowspan="2">INSPECTOR</th>
				<th class="text-center" rowspan="2">VALUE (ppm/v)</th>
				<th class="text-center" colspan="4">DESCRIPTION OF REPAIR</th>
				<th class="text-center" colspan="2">COMPLETION</th>
			</tr>
			<tr>
				<th class="text-center">SOIL</th>
				<th class="text-center">WATER</th>
				<th class="text-center">OTHER</th>
				<th class="text-center">CREW</th>
				<th class="text-center">DATE</th>
				<th class="text-center">TIME</th>
			</tr>
		</thead>
		<tbody ng-repeat="inspection in inspections">
			<tr ng-repeat="repair in inspection.repairs">
				<td ng-show="hoverDisplay">{{inspection.date}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{inspection.date}}"></td>
				<td ng-show="hoverDisplay">{{inspection.time}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{inspection.time}}"></td>
				<td ng-show="hoverDisplay">{{inspection.description}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{inspection.description}}"></td>
				<td ng-show="hoverDisplay">{{inspection.type}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{inspection.type}}"></td>
				<td ng-show="hoverDisplay">{{inspection.inspector}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{inspection.inspector}}"></td>
				<td ng-show="hoverDisplay">{{inspection.value}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{inspection.value}}"></td>
				<td ng-show="hoverDisplay">{{repair.soil}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{repair.soil}}"></td>
				<td ng-show="hoverDisplay">{{repair.water}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{repair.water}}"></td>
				<td ng-show="hoverDisplay">{{repair.other}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{repair.other}}"></td>
				<td ng-show="hoverDisplay">{{repair.crew}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{repair.crew}}"></td>
				<td ng-show="hoverDisplay">{{repair.date}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{repair.date}}"></td>
				<td ng-show="hoverDisplay">{{repair.time}}</td>
				<td ng-show="hoverEdit"><input type="text" class="form-control" value="{{repair.time}}"></td>
			</tr>
		</tbody>
	</table>
	
	<p>Run Date, Time: {{currentTime}}</p>
	
	<p class="pull-right">
		<a href="" ng-click="hoverIn()"><span class="glyphicon glyphicon-pencil"></span> Edit Report</a></br>
		<a href="" ng-click="hoverOut()"><span class="glyphicon glyphicon-floppy-disk"></span> Save Report</a></br>
		<a href=""><span class="glyphicon glyphicon-plus-sign"></span> Add Repair</a></br>
	</p>
</div>