<center>
	<form class="form-inline" ng-submit="getIme()">
		<div class="form-group">
			<label>IME Number: </label>
			<input type="text" ng-model="searchImeNumber" class="form-control">
			<button type="submit" value="submit" class="btn btn-success">Search</button>
		</div>
	</form>
</center>

<!-- Hide report unless generated -->
<div ng-show="ime != null">
	<div class="text-center">
		<h3>Solid Resources Processing & Construction Division</h2>
		<h4>Environmental Compliance Inspection Office</h4>
		<h4>For Readings Greater than 500 ppm/v</h4>
		
		<h4>Gaffey Landfill</h4>
	</div>
	
	<h4 class="pull-left">Record Number: IME {{ime.imeNumber}}</h4>
	<h4 class="pull-right">Grid ID(s): 66, 67</h4>
	
	<table class="table table-bordered table-striped text-center">
		<thead>
			<tr>
				<th class="text-center" colspan="6">INSPECTION REPORT</th>
				<th class="text-center" colspan="6">REPAIR REPORT</th>
				<th class="text-center" colspan="1">ACTION</th>
			</tr>
			<tr>
				<th class="text-center" rowspan="2">DATE</th>
				<th class="text-center" rowspan="2">TIME</th>
				<th class="text-center" rowspan="2">DESCRIPTION</th>
				<th class="text-center" rowspan="2">Spot, Line, Area</th>
				<th class="text-center" rowspan="2">INSPECTOR</th>
				<th class="text-center" rowspan="2">VALUE (ppm/v)</th>
				<th class="text-center" colspan="4">DESCRIPTION OF REPAIR</th>
				<th class="text-center" colspan="2">COMPLETION</th>
			</tr>
			<tr>
				<th class="text-center">SOIL</th>
				<th class="text-center">WATER</th>
				<th class="text-center">OTHER</th>
				<th class="text-center">CREW</th>
				<th class="text-center">DATE</th>
				<th class="text-center">TIME</th>
			</tr>
		</thead>
		<tbody >
			<!--  <tr ng-repeat="repair in inspection.repairs">-->
			<tr ng-repeat="inspection in ime.imeInspections">
				<!-- <td ng-show="clickDisplay">{{inspection.inspectionDate}}</td> -->
				<!-- <td ng-show="clickEdit"><input type="text" class="form-control" value="{{inspection.date}}"></td> -->
				<!-- <td ng-show="clickDisplay">{{inspection.time}}</td> -->
				<!-- <td ng-show="clickEdit"><input type="text" class="form-control" value="{{inspection.time}}"></td> -->
				<!-- <td ng-show="clickDisplay">{{inspection.description}}</td>
				<td ng-show="clickEdit"><input type="text" class="form-control" value="{{inspection.description}}"></td>
				<td ng-show="clickDisplay">{{inspection.imeShape}}</td> -->
				<!-- <td ng-show="clickEdit"><input type="text" class="form-control" value="{{inspection.type}}"></td> -->
				<!-- <td ng-show="clickDisplay">{{inspection.employee.firstname}} {{inspection.employee.lastname}}</td>
				<td ng-show="clickEdit"><input type="text" class="form-control" value="{{inspection.inspector}}"></td>
				<td ng-show="clickDisplay">{{inspection.value}}</td>
				<td ng-show="clickEdit"><input type="text" class="form-control" value="{{inspection.value}}"></td> -->
				
				<td>{{inspection.inspectionDate}}</td>
				<td>{{inspection.time}}</td>
				<td>{{inspection.description}}</td>
				<td>{{inspection.imeShape}}</td>
				<td>{{inspection.employee.firstname}} {{inspection.employee.lastname}}</td>
				<td>{{inspection.value}}</td>
				
				<!-- <td ng-show="clickDisplay">{{inspection.repair.soil}}</td> -->
				<td ng-show="clickEdit">
					<div class="checkbox">
  						<label>
    					<input type="checkbox" value="{{inspection.repair.soil}}">
  						</label>
					</div>
				</td>
				<td ng-show="clickDisplay">
					<div class="checkbox">
  						<label>
    					<input type="checkbox" value="{{inspection.repair.soil}}">
  						</label>
					</div>
				</td>
				<td ng-show="clickEdit">
					<div class="checkbox">
  						<label>
    					<input type="checkbox" value="{{inspection.repair.water}}">
  						</label>
					</div>
				</td>
				<td ng-show="clickDisplay">
					<div class="checkbox">
  						<label>
    					<input type="checkbox" value="{{inspection.repair.water}}">
  						</label>
					</div>
				</td>
				<td ng-show="clickEdit"><label><input type="text" class="form-control" value="{{inspection.repair.water}}"></label></td>
				<td ng-show="clickDisplay">{{inspection.repair.description}}</td>
				<td ng-show="clickEdit"><label><input type="text" class="form-control" value="{{inspection.repair.description}}"></label></td>
				<td ng-show="clickDisplay">{{inspection.repair.crew}}</td>
				<td ng-show="clickEdit"><label><input type="text" class="form-control" value="{{inspection.repair.crew}}"></label></td>
				<td ng-show="clickDisplay">{{inspection.repair.datetime}}</td>
				<td ng-show="clickEdit"><input type="text" class="form-control" value="{{inspection.repair.datetime}}"></td>
				<td ng-show="clickDisplay">{{inspection.repair.time}}</td>
				<td ng-show="clickEdit"><input type="text" class="form-control" value="{{inspection.repair.time}}"></td>
				<td ><a href="" ng-click="addRepair()"><span class="glyphicon glyphicon-pencil"></span></a></td>
			</tr>
		</tbody>
	</table>
	
	<p>Run Date, Time: {{currentTime}}</p>
	
	<p class="pull-right">
		<a href="" ng-click="showReport()"><span class="glyphicon glyphicon-pencil"></span> Edit Report</a></br>
		<a href="" ng-click="hideReport()"><span class="glyphicon glyphicon-floppy-disk"></span> Save Report</a></br>
		<a href="" ng-click="showAddRepair()"><span class="glyphicon glyphicon-plus-sign"></span> Add Repair</a></br>
	</p>
	
	<div ng-show="showRepair" align="center">
		<form class="form-inline">
			<table>
				<div class="form-group">
					<tr>
						<td><label>Soil: </label></td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td><label>Water: </label></td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td><label>Other: </label></td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td><label>Crew: </label></td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td><label>Date: </label></td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td><label>Time: </label></td>
						<td><input type="text" class="form-control"></td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit" class="btn btn-success">Add</button></td>
					</tr>
				</div>
			</table>
		</form>
	</div>
</div>